*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Montserrat",sans-serif;
}

html,
body{
    min-height:100vh;
}

body{
    background:linear-gradient(
        180deg,
        rgb(160,65,168) 0%,
        #f9b3ff 100%
    );
}

input:focus{
    outline:none;
}

#register-container{

    max-width:900px;
    min-height:80vh;

    margin:2rem auto;

    display:flex;

    box-shadow:
    rgba(50,50,93,.25) 0px 13px 27px -5px,
    rgba(0,0,0,.3) 0px 8px 16px -8px;
}

#register-banner{

    width:50%;

    background-image:url("../img/bg-form.jpg");
    background-size:cover;
    background-position:center;
}

#banner-layer{

    height:100%;

    background:rgba(25,11,122,.7);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:2rem;
}

#banner-layer h1{

    color:white;
    font-size:4rem;
    margin-bottom:20px;
}

#banner-layer h2{

    color:white;
    margin-bottom:15px;
}

#banner-layer p{

    color:white;
    line-height:1.6;
}

#register-form{

    width:50%;

    background:white;

    padding:2rem;
}

.form-control{

    display:flex;
    flex-direction:column;

    margin-bottom:20px;
}

.form-control label{

    margin-bottom:8px;
    font-weight:600;
}

.form-control input{

    padding:12px;

    border:1px solid #CCC;
    border-radius:5px;
}

#generate-password{

    color:#6d28d9;
    font-weight:bold;
    cursor:pointer;
}

#generated-password{

    margin:20px 0;
}

input[type="submit"]{

    width:100%;

    padding:14px;

    border:none;

    border-radius:5px;

    background:#6d28d9;

    color:white;

    cursor:pointer;

    font-size:16px;
}